<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.spring5.mapper.BoardAttachMapper">
	
	<insert id="insert">
		insert into shareInfo.attach
		values (#{uuid},#{uploadPath},#{fileName},#{fileType},#{bno})
	</insert>
	
	<delete id="delete">
		delete from shareInfo.attach where uuid=#{uuid}
	</delete>
	
	<select id="findByBno" resultType="org.spring5.domain.BoardAttachVO">
		select * from shareInfo.attach where bno=#{bno}
	</select>
	
</mapper>